# Análisis de Datos Meteorológicos

Este proyecto consiste en analizar un conjunto de datos meteorológicos utilizando Python y NumPy. 
El objetivo es aplicar las técnicas de manipulación de arrays, tratamiento de datos faltantes, 
y análisis estadístico básico en un conjunto de datos del mundo real.

## Acciones realizadas:
1. Se crea un DataFrame a partir de los datos del archivo **datos_meteorologicos.csv**.
2. Se realizan observaciones iniciales de los datos con Pandas.
3. Se convierten las columnas del DataFrame en arrays de NumPy.
4. Identificar los datos faltantes en los arrays, y reemplazarlos por el promedio de los valores del respectivo array.
5. Realizar análisis estadísticos básicos. Mínimamente se espera que puedas extraer la siguiente información de tus arrays:
    * La temperatura promedio
    * El total de precipitaciones
    * La máxima humedad registrada
    * La fecha más calurosa
    * La fehca más fría
6. Exportar los resultados a un nuevo archivo CSV.

¡Mucha suerte con tu proyecto!

### 1. Crear un DataFrame a partir de los datos del archivo datos_meteorologicos.csv provisto en esta lección.

In [10]:
import pandas as pd
import numpy as np

ruta = r"C:\Users\juani\OneDrive\Escritorio\Proyectos\01.Data\01 Python\04BloqueNumpy\AnalisisMetereologico\Archivos\datos_meteorologicos.csv"
df = pd.read_csv(ruta)
df

           Fecha  Temperatura  Precipitación    Humedad
0     01/01/2010    17.440675      10.957482  52.384637
1     02/01/2010    25.759468       5.315628  30.633530
2     03/01/2010    20.138169      15.317706  41.496715
3     04/01/2010    17.244159      13.151008  90.684704
4     05/01/2010    11.182740      16.413667  22.116422
...          ...          ...            ...        ...
5105  24/12/2023    -9.554692      12.700998  50.094533
5106  25/12/2023     2.837831       5.475686  92.456057
5107  26/12/2023    29.873597       4.615012  18.362847
5108  27/12/2023          NaN            NaN        NaN
5109  28/12/2023    37.308043       7.330510  50.646211

[5110 rows x 4 columns]

### 2. Realizar observaciones iniciales de los datos con Pandas.

In [26]:
#Primeras filas del DataFrame, muestra de datos rápidos.
print(df.head())

        Fecha  Temperatura  Precipitación    Humedad
0  01/01/2010    17.440675      10.957482  52.384637
1  02/01/2010    25.759468       5.315628  30.633530
2  03/01/2010    20.138169      15.317706  41.496715
3  04/01/2010    17.244159      13.151008  90.684704
4  05/01/2010    11.182740      16.413667  22.116422

In [27]:
#Descripción del DataFrame, se muestran tipos de datos y valores no nulos.
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fecha          5110 non-null   object
 1   Temperatura    4855 non-null   float64
 2   Precipitación  4855 non-null   float64
 3   Humedad        4855 non-null   float64
dtypes: float64(3), object(1)
memory usage: 159.8+ KB
None

In [28]:
#Estadísticas básicas como media, desviación estándar, valores mínimos y máximos.
print(df.describe())

       Temperatura  Precipitación      Humedad
count  4855.000000    4855.000000  4855.000000
mean     14.889296       9.901604    54.359061
std      14.440466       5.801842    26.096345
min      -9.996378       0.003008    10.014980
25%       2.651777       4.756907    31.866578
50%      14.693274       9.853698    54.254478
75%      27.381451      14.966997    77.029500
max      39.998201      19.999559    99.996582

In [29]:
#El numero total de columnas y filas en el DataFrame.
print(df.shape)

(5110, 4)

In [30]:
#Nombre de las columnas del DataFrame.
print(df.columns)

Index(['Fecha', 'Temperatura', 'Precipitación', 'Humedad'], dtype='object')

In [31]:
#Muestra si hay valores nulos, en cada columna.
print(df.isnull().sum())

Fecha              0
Temperatura      255
Precipitación    255
Humedad          255
dtype: int64

### 3. Convertir las columnas del DataFrame en arrays de NumPy.

In [62]:
temperatura = df['Temperatura'].to_numpy()
precipitacion = df['Precipitación'].to_numpy()
humedad = df['Humedad'].to_numpy()

In [39]:
type(array_df)

numpy.ndarray

### 4. Identificar los datos faltantes en los arrays, y reemplazarlos por el promedio de los valores del respectivo array.

In [97]:
#Identificar datos faltantes
temp_nulo = np.isnan(temperatura)
precip_nulo = np.isnan(precipitacion)
hum_nulo = np.isnan(humedad)

In [68]:
#Promedio de cada array.
temp_promedio = np.nanmean(temperatura)
prec_promedio = np.nanmean(precipitacion)
hume_promedio = np.nanmean(humedad)

#Reemplazar los valores nulos con el promedio de array.
temperatura[temp_nulo] = temp_promedio
precipitacion[precip_nulo] = prec_promedio
humedad[hum_nulo] = hume_promedio

print(temperatura)

[17.4406752  25.75946832 20.1381688  ... 29.87359717 14.88929572
 37.30804318]

### 5. Realizar análisis estadísticos básicos.

##### Temperatura promedio

In [71]:
prom_temperatura = np.mean(temperatura)
print(f"El promedio de la temperatura es: {prom_temperatura}")

El promedio de la temperatura es: 14.889295723531713

##### Total de precipitaciones

In [85]:
total_precipitaciones = np.sum(precipitacion)
print(f"El total de precipitaciones es: {total_precipitaciones}")

El total de precipitaciones es: 50597.19438939993

##### Máxima humedad registrada

In [86]:
humedad_max = np.max(humedad)
print(f"La humedad maxima registra es: {humedad_max}")

La humedad maxima registra es: 99.99658156071747

##### Fecha más calurosa

In [99]:
#Identificar la fecha con mas calor
mas_calor = np.max(temperatura)
mas_calor

39.99820092713012

In [122]:
fecha_fria = df.iloc[np.where(temperatura == np.max(temperatura))[0][0]]['Fecha']
print(f"La fecha mas calurosa es: {fecha_fria}")

La fecha mas calurosa es: 12/07/2017

##### Fecha más fría

In [95]:
mas_fria = np.min(temperatura)
mas_fria

-9.996377518075391

In [121]:
fecha_fria = df.iloc[np.where(temperatura == np.min(temperatura))[0][0]]['Fecha']
print(f"La fecha mas calurosa es: {fecha_fria}")

La fecha mas calurosa es: 23/07/2020

### 6. Exportar los resultados a un nuevo archivo CSV.

In [123]:
resultados = pd.DataFrame({
    'Metrica': ['Temperatura Promedio', 'Precipitacion Promedio', 'Humedad Promedio', 'Humedad Maxima', 'Dia mas Caluros', 'Dia mas Frio'],
    'Valores': [prom_temperatura, total_precipitaciones, hume_promedio, humedad_max, fecha_calurosa, fecha_fria]
})

In [125]:
resultados.to_csv('Resultados analisis metereologicos.cvs', index=False)